<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="markowski.library.Library">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="markowski.library.perspective.Perspective"
            id="markowski.library.perspective"
            name="Perspective">
      </perspective>
      <perspective
            class="markowski.library.perspective.LibraryPerspectiveFactory"
            id="markowski.library.libraryPerspective"
            name="Library">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="markowski.library.view.View"
            id="markowski.library.view">
      </view>
      <view
            class="markowski.library.view.BookListView"
            id="markowski.library.booksListView"
            name="BookList">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="markowski.library.perspective">
         <view
               id="markowski.library.view"
               minimized="true"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="markowski.library.booksListView"
               minimized="false"
               relationship="right"
               relative="markowski.library.booksListView"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
