<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="markowski.library.Library">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="markowski.library.perspective.Perspective"
            id="markowski.library.perspective"
            name="Perspective">
      </perspective>
      <perspective
            class="markowski.library.perspective.LibraryPerspectiveFactory"
            id="markowski.library.libraryPerspective"
            name="Library">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="markowski.library.view.View"
            id="markowski.library.view">
      </view>
      <view
            class="markowski.library.view.BookListView"
            id="markowski.library.booksListView"
            name="BookList">
      </view>
      <view
            class="markowski.library.view.BookDetailsView"
            id="markowski.library.bookDetailsView"
            name="BookDetails"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="markowski.library.perspective">
         <view
               id="markowski.library.booksListView"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               id="markowski.library.bookDetailsView"
               minimized="false"
               relationship="right"
               relative="markowski.library.booksListView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="markowski.library.addCommand"
                  label="Add"
                  style="push">
            </command>
            <command
                  commandId="markowski.library.editCommand"
                  label="Edit"
                  style="push">
            </command>
            <command
                  commandId="markowski.library.deleteCommand"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
            <menuContribution
            allPopups="false"
            locationURI="popup:markowski.library.booksListView">
         <command
               commandId="markowski.library.addCommand"
               label="Add new book"
               style="push">
         </command>
         <command
               commandId="markowski.library.editCommand"
               label="Edit book"
               style="push"
               tooltip="Edit selected book information">
         </command>
         <command
               commandId="markowski.library.deleteCommand"
               label="Delete book"
               style="push"
               tooltip="Delete selected book from library">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="markowski.library.handler.AddNewBookHandler"
            commandId="markowski.library.addCommand">
      </handler>
      <handler
            class="markowski.library.handler.EditSelectedBookHandler"
            commandId="markowski.library.editCommand">
      </handler>
      <handler
            class="markowski.library.handler.DeleteSelectedBookHandler"
            commandId="markowski.library.deleteCommand">
      </handler>
      <handler
            class="markowski.library.handler.ShowSelected"
            commandId="markowski.library.showSelected">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="markowski.library.addCommand"
            name="addCommand">
      </command>
      <command
            id="markowski.library.editCommand"
            name="editCommand">
      </command>
      <command
            id="markowski.library.deleteCommand"
            name="deleteCommand">
      </command>
      <command
            id="markowski.library.showSelectedCommand"
            name="showSelectedCommand">
      </command>
   </extension>

</plugin>
